@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

*{font-family: 'Zeyada', cursive;}

.style-1 {background-color: silver; color:white}

#style-2 {background-color: white; color: green;}